.progress-container {
    height: .8rem;
    width: 32rem;
    border-radius: .4rem;
    background: #000;
}
.progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: .4rem;
    background: #FF4754;
    transition: width .4s ease;
}