@import "variables";
@import "fonts";

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1320px;
  }
}
.header {
  background-color: $main-color;
  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}
.logo__link {
  margin-left: 8px;
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    position: absolute;
    background-color: $main-color;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $main-color, 0 8px 0 0 $main-color;
    border-radius: 1px;
  }
}
@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
.head {
  background-image: url("img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}
@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &__item {
    color: #fff;
    min-height: 193px;
    text-align: center;
  }
  &__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    padding: 36px 0 28px;
    max-width: 242px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      width: 61px;
      height: 8px;
      position: absolute;
      margin: 0 auto;
      background-color: $text-color;
    }
  }
  &__text {
    display: none;
  }
  &__btn {
    display: none;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid #476E4D
      }
    }
    button {
      font-size: 0;
      border: none;
      background: $main-color;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}
@media (min-width: 640px) {
  .top-slider {
    &__item {
      min-width: 386px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 50px 0 15px;
      margin: 0 auto 30px;
      max-width: 522px;
    }
    &__btn {
      display: block;
      margin-bottom: 110px;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      background: $main-color;
      color: #F9F6F5;
      padding: 16px 45px;
      border: none;
      border-radius: 3px;
    }
    .slick-dots {
      margin-bottom: 30px;
    }
    .slick-arrow {
      width: 56px;
      height: 56px;
      border: none;
      position: absolute;
      right: 0;
      z-index: 5;
    }
    .slick-prev {
      background-color: $main-color;
      top: calc(50% - 56px);
    }
    .slick-next {
      background: #F9F6F5;
      bottom: calc(50% - 56px);
    }
  }
}
p {
  margin: 0;
}
@media (min-width: 768px) {
  .top-slider {
    &__item {
      min-height: 465px;
    }
    &__title {
      padding: 87px 0 0;
      margin: 0 auto 0;
      &::after {
        display: none;
      }
    }
    &__text {
      padding: 25px 0 32px;
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
      display: block;
      max-width: 587px;
      margin: 0 auto;
    }
  }
}
@media (min-width: 1024px) {
  .top-slider {
    &__item {
      min-height: 618px;
    }
    &__title {
      padding-top: 101px;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
      max-width: 750px;
    }
    .slick-dots {
      bottom: 80px;
    }
  }
}
@media (min-width: 1440px) {
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      line-height: 26px;
      font-size: 24px;
      max-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      background-color: $main-color;
      top: calc(50% - 70px);
    }
    .slick-next {
      background: #F9F6F5;
      bottom: calc(50% - 70px);
    }
  }
}
.call {
  background: $main-color;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &__title {
    font-weight: 500;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__text {
    @extend %dosis-300;
    margin-bottom: 40px;
  }
  &__btn {
    font-family: 'Roboto', sans-serif;
    padding: 16px 15px;
    background-color: $some-color;
    color: $main-color;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .call {
    text-align: left;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__box {
      max-width: 427px;
    }
    &__text {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1024px) {
  .call {
    &__box {
      max-width: 500px;    }
  }
}
@media (min-width: 1440px) {
  .call {
    &__inner {
      padding: 0 80px;
    }
  }
}
