* {
    padding: 0;
    margin: 0;
}
.list-group-item {
    padding: 1em;
    font-weight: bold;
}
.list-header {
    background-color: cornsilk;
    border: 1px solid black;  
}
.list-group {
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;    
}
.list-content {
    background-color: teal;
     padding: 10px;
}
p {
    font-weight: bold;
    font-size: 18px;
}
.accordeon-hid {
    display: none;
}