h1,
h2,
h3,
p {
    margin: 0;
}
img {
    max-width: 100%;
}
.name {
    font-weight: bold;
}
.streamers {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.streamers img {
    border-radius: 50%;
}
.icon {
    width: 5em;
    height: 5em;
    position: relative;
    transition: transform ease-in-out 150ms;
}
.streamer:hover .icon {
    transform: translateY(-15%);
}
.streamer:hover .icon::before {
    opacity: 1;
}
.streamer .icon:hover {
    transform: translateY(-20%) scale(1.1);
}
.icon::before,
.icon::after {
    content: '';
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.icon::before {
    content: "PLAY";
    font-size: 12px;
    font-weight: bold;
    background-color: #f00;
    color: #fff;
    display: grid;
    place-items: center;
    z-index: 10;
    transition: opacity 105ms linear, background-color 100ms linear;
}
.icon:hover::before {
    background: #cc0202;
}
.icon:hover::after {
    background-color: #f00;
    z-index: 1;
    animation: pulse 1000ms infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: 0.75;
    }
    100% {
        transform: scale(1.40);
        opacity: 0;
    }

}