body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
    background: #220954;
}
svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
nav {
    width: 20%;
    float: right;
    background-color: #5923c6;
    height: calc(100vh - 4em);
    font-size: 1.4em;
    line-height: 1.4em;
    color: #fff;
    padding: 2em;
    clip-path: url('#clipPath');
}
ul {
    list-style-type: none;
    padding: 0;
}
li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 0;
    font-weight: bold;
}
p {
    color: #946be7;
}
h1 {
    color: #fff;
    margin: 2em;
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 0;
}
button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
    padding: 10px 20px;
    font-size: 1.4em;
    background: none;
    border: 3px solid purple;
    color: #fff;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
circle {
    transform-origin: 50% 50%;
}