body {
    height: 100vh;
    margin: 0;
}
svg {
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s font-size;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
}
svg rect {
    fill: white;
    mask: url(#mask);
}
@media screen and (max-width: 1200px){
    svg {
        font-size: 4em;
    }
}