*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Releway', sans-serif;
    background-color: #000;
}
header {
    height: 100vh;
    position: relative;
    display: flex;
}
.cover {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}
nav {
    background-color: #fff;
    z-index: 2;
    width: 40%;
    color: #916356;
    /*overflow: hidden;*/
    height: 20%;
}
.nav-images img {
    height: 250px;
}
.cover-date {
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}
.nav-close {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 20%;
}
.nav-open {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.clothing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.clothing h2 {
    font-size: 50px;
}
.clothing ul li {
    list-style: none;
    padding-bottom: 10px;
}
.clothing ul li a{
    text-decoration: none;
    color: #916356;
}
.nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-close ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}




