*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    padding: 0;
}
h2 {
    text-align: center;
    margin: 65px;
    font-size: 24px;
    font-family: 'Italianno', cursive;
}
.header-photo {
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.nature-photo {
    height: 500px;
    width: 550px;
    float: right;
    margin-top: 60px;
}
.intro-text {
    font-family: 'Italianno', cursive;
    float: left;
    max-width: 400px;
    margin-top: 90px;
    margin-left: 80px;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}
.intro-appear {
    opacity: 1;
    transform: translateY(0px);
}